<div class="card">
    <div class="card-flag">
        <img src="" alt="">
    </div>
    <div class="card-body">
        <h2 class="card-name">{{name}}</h2>
        <p class="card-text">Capital:{{capital}}</p>
        <p class="card-population">Population:</p>
        <p class="card-languages">Languages:</p>
    </div>
</div>
